
    body {
        font: 16px/1.5 "IBM Plex Sans", sans-serif;
        position:relative;
        font-weight: 300;
        color:#222;
    }
    a { color:#3F65C8; }
    div { 
        max-width:528px; 
        padding: 0 24px;
        margin: 0 auto;
    }
    #resume {
    }
    #resume p:first-child {
        font-size: 24px;
    }
    small { color:#444; }
    h1 { font-size:64px; line-height: 1; }